---
import NewUser from "./adminPanel/NewUser.astro";
import FindUser from "./adminPanel/FIndUser.astro";
---

<section class=" w-full flex flex-col md:flex-row items-center justify-center gap-6 my-12">
<NewUser />
<FindUser />
</section>