---
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
---

<footer
    class="flex justify-evenly bg-neutral-400 text-white text-center p-4 w-full relative"
>
    <span>Calle Falsa 123 , Merlo, Argentina</span>
    <div class="flex items-center gap-2">
        <a
            href="https://www.linkedin.com/in/elias-sebastian-agustin-andino-9286a12b2/"
            target="_blank"
            rel="noreferrer"
            ><Linkedin />
            <a
                href="https://github.com/sebaandino"
                target="_blank"
                rel="noreferrer"
                ><Github />
            </a>
        </a>
    </div>
</footer>
