---
import Linkedin from '../icons/Linkedin.astro';
import Github from '../icons/Github.astro';
---

<footer class="  flex justify-between bg-neutral-400 absolute bottom-0 w-full h-32 items-center">
    <span>Calle Falsa 123 , Merlo, Argentina</span>
    <div class="flex items-center gap-2">
        <Linkedin />
        <Github />
    </div>
</footer>