
<header class="w-full h-14 flex justify-center items-center">
    <nav class="gap-10 text-white flex justify-center items-center">
        <a href="/">Inicio</a>
        <a href="/">Actividades</a>
        <a href="/about">Ubicacion</a>
        <a href="/contact">Contacto</a>
        <a href="/login" class="bg-green-500 text-white p-2 rounded-lg px-6"
            >Login</a
        >
    </nav>
</header>
