<header
    class="w-full h-32 flex justify-center items-center backdrop-blur-lg border-b-2 border-yellow-300 top-0 left-0 right-0"
>
    <nav
        class="gap-6 text-white flex justify-around items-center flex-wrap flex-grow"
    >
        <a href="/">Inicio</a>
        <a
            href="#"
            class="bg-green-500 text-white p-2 rounded-lg px-6"
            id="logout">logout</a
        >
    </nav>
</header>

<script>
    document.getElementById("logout").addEventListener("click", async () => {
        try {
            const response = await fetch("http://localhost:8080/auth/log-out", {
                method: "POST",
                credentials: "include",
            });

            if (response.status === 200) {
                console.log("Logout successful");
                window.location.href = "/login";
            } else {
                console.error("Logout failed", response.status);
            }
        } catch (error: any) {
            console.error("Error:", error);
        }
    });
</script>
