---

---

<div class="h-screen flex flex-col justify-center items-center">
    <form
        id="loginForm"
        class="flex flex-col justify-center items-center gap-6 text-xl"
    >
        <div class="flex flex-col justify-center items-center gap-2">
            <label for="username">DNI</label>
            <input
                type="text"
                name="username"
                id="username"
                class="p-2 rounded-xl border-b-2 border-x-4 border-yellow-300"
                required
            />
        </div>
        <div class="flex flex-col justify-center items-center gap-2">
            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                id="password"
                class="p-2 rounded-xl border-b-2 border-x-4 border-yellow-300"
                required
            />
        </div>
        <button
            type="submit"
            class="bg-green-500 text-white p-4 w-full rounded-xl"
        >
            Login
        </button>
        <p id="message"></p>
    </form>
    <h3 class="w-2/3 text-center">
        Si olvidaste tu contraseña, puedes hacercarte a recepcion
    </h3>
</div>

<script>
    document
        .getElementById("loginForm")
        .addEventListener("submit", async (event) => {
            event.preventDefault();

            let username = document.getElementById(
                "username",
            ) as HTMLInputElement;
            let password = document.getElementById(
                "password",
            ) as HTMLInputElement;

            const usernameLoad = username.value;
            const passwordLoad = password.value;

            try {
                let response = await fetch("http://localhost:8080/auth/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        username: usernameLoad,
                        password: passwordLoad,
                    }),
                    credentials: "include",
                });

                if (response.ok) {
                    let result = await response.json();
                    let role = result.role;

                    if (role === "ROLE_USER") {
                        window.location.href = "/user";
                    } else if (role === "ROLE_ADMIN") {
                        window.location.href = "/admin";
                    } else if (role === "ROLE_TRAINER") {
                        window.location.href = "/trainer";
                    }
                } else {
                    alert("Inicio de sesión fallido");
                }
            } catch (error) {
                console.error("Error durante el inicio de sesión:", error);
                alert("Ocurrió un error durante el inicio de sesión");
            }
        });
</script>
