<main id="inicio" class="flex flex-col items-center justify-center w-full h-dvh">
    <section class="flex flex-col items-center justify-center h-dvh w-full"> 
        
    </section>
</main>

<style>

    main{
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>