/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}